body {
  font-family: 'Roboto';
  background: #ffffff;
}

:root {
  --color-black: #212121;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --bg-color: #2f303a;
}

.global-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  max-width: 1200px;
  margin-bottom: 24px;
  margin-top: 25px;
  margin-left: 215px;
}

.header-wrapper-portfolio {
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
  margin-bottom: 71px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-discription {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  list-style: none;
  align-items: center;
}

.site-navigation {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
  gap: 46px;
}

.contacts {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0px 0px 0px 364px;
  padding: 0px;
  gap: 50px;
}

.top-logo-one {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
}

.top-logo-two {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.social-links {
  text-decoration: none;
  color: var(--color-black);
}

.contact-color {
  color: #757575;
}

.social-links:hover {
  color: var(--color-blue);
}

.wrapper-main-studio-discription {
  margin: 0 auto;
  margin-bottom: 94px;
  background-color: var(--bg-color);
  max-width: 1600px;
  height: 600px;
}

.main-studio-discription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-studio-text {
  margin-top: 200px;
  margin-bottom: 40px;
  max-width: 696px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
}

.studio-button {
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-radius: 4px;
  background: #2196f3;
  cursor: pointer;
}

.studio-button-text {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-white);
}

.studio-text-block {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-bottom: 94px;
}

.header-text-block {
  margin: 0px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.text-block-discription {
  max-width: 270px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-activities,
.our-team {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.our-activities-area {
  margin-bottom: 94px;
}

.our-activities {
  margin-bottom: 50px;
}

.images-our-activities {
  display: flex;
  gap: 30px;
  list-style: none;
}

.our-team-area {
  max-width: 1600px;
  height: 648px;
  background: #f5f4fa;
}

.our-team {
  padding-top: 94px;
  margin-bottom: 50px;
}

.images-our-team {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  list-style: none;
}

.images-our-team-discription {
  max-width: 270px;
  height: 260px;
}

.img-border-our-team {
  text-align: center;
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-black);
}

.employee-position {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-wrapper {
  max-width: 1600px;
  background-color: var(--bg-color);
}

.footer-discription {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo-one {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-blue);
  text-decoration: none;
}

.footer-logo-two {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-white);
  text-decoration: none;
}

.footer-contacts {
  list-style: none;
  padding: 0px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-buttons-area {
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  list-style-type: none;
}

.portfolio-buttons {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-black);
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  padding: 6px 22px 6px 22px;
}

.portfolio-buttons:hover {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.portfolio-projects {
  margin-bottom: 94px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 30px;
}

.project-name {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-black);
}

.project-discription {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.images-portfolio {
  vertical-align: middle;
  background: var(--color-white);
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.border-projects-discription {
  padding: 20px 24px;
  background: var(--color-white);
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
